body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
}

.p-main-page {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 80px 5fr;
  grid-template-areas:
    "header header"
    "bar main";

  &--header {
    grid-area: header;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #efefef;
  }

  &--bar {
    grid-area: bar;
    padding: 20px;
  }

  &--content {
    grid-area: main;
  }
}

.c-searchbar {
  &--item {
    margin-bottom: 15px;

  }

  &--item-label {
    padding: 5px 0;
  }

  & select {
    width: 100%;
    font-size: 18px;
    padding: 5px 0;
  }

  & input {
    width: 60px;
  }

  &--item-range {
    margin-top: 10px;

    select {
      width: 48%;
      margin-right: 4px;
    }
  }

  &--button {
    width: 50%;
    background-color: #000000;
    line-height: 40px;
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
}

.c-content-item {
  margin-bottom: 30px;
  padding: 5px;
  width: 90%;

  background-color: #f0f0f0;
  &--info {
    display: flex;
    margin-bottom: 30px;
  }

  &--photo {
    min-width: 300px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &--data{
    padding: 30px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &--description{
    padding: 0 30px 30px 30px;
  }
}